* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.D {
    height: 50px;
    width: 150px;
    position: sticky;
    display: inline-block;
    background-color: rgb(64, 152, 235);
    margin: 325px 675px;
    padding: 0;
}

.P {
    padding: 5px 5px;
    margin: 10px 10px;
    text-align: center;
}