.div {
    width: 250px;
    height: 150px;
    position: relative;
}
.div1 {
    background-color: aqua;
    width: 200px;
    height: 100px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.div2 {
    background-color: orange;
    width: 200px;
    height: 100px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: +999;
}